<div class="container">
	<h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Artists</h1>

	<% if artist_logged_in? %>

	    You are logged in as: <%= current_artist.name %> (<%= current_artist.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_artist" %>]

	    <br /><br />

	    <%= link_to "Submit a Grant Proposal", :controller => "grant_submissions", :action => "index" %>

	<% else %>
		Don't have an account yet?
	    <%= link_to "Register as an artist", :controller => "artists", :action => "signup" %> to access the grant applications.
	<h2>Sign in:</h2>
	<fieldset>
	<%= form_tag(controller: 'sessions', action:'create_artist') do %>
	  <%= text_field :session, :email, :placeholder => "Email Address", :style => "margin-bottom: 10px" %><br />
	  <%= password_field :session, :password, :placeholder => "Password" %>
	  <br /><br />
	  <%= submit_tag("Sign in", class: "btn btn-large btn-primary")%>
	<% end %>

	<% end %>
	</fieldset>
</div>