<div class="container">
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Admins</h1>

	<% if admin_logged_in? %>

		You are logged in as: <%= current_admin.name %> (<%= current_admin.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_admin" %>]
		<br /><br />

		<table border="1">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>assigned</td>
			</tr>
			<% @submissions.each do |s| %>
				<tr>
					<td><%= @sv[s.id]['id'] %></td>
					<td><%= @sv[s.id]['name'] %></td>
					<td><%= @sv[s.id]['assigned'].join(',').html_safe %></td>
				</tr>
			<% end %>

		</table>

		<%= link_to "Assign!", :controller => "admins", :action => "assign" %>

		<br /><br />

		<table border="1">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>email</td>
				<td>assigned</td>
			</tr>
			<% @verified_voters.each do |vv| %>
				<tr>
					<td><%= vv.id %></td>
					<td><%= vv.name %></td>
					<td><%= vv.email %></td>
					<td> <%= vv.assigned.join(',').html_safe %></td>
				</tr>
			<% end %>

		</table>

		<br /><br />
		<table border="1">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>grant</td>
				<td>$</td>
				<td>avg_t</td>
				<td>avg_c</td>
				<td>avg_f</td>
				<td>avg_s</td>
				<td>#</td>
			</tr>

			<% @grant_submissions.each do |gs| %>
			    <tr>
					<td><%= gs.id %></td>
					<td><%= gs.name %></td>
					<td><%= Grant.where("id = ?",gs.grant_id).take.name + " (" + gs.grant_id.to_s + ")" rescue "Unknown (" + gs.grant_id.to_s + ")" %></td>
					<td><%= gs.requested_funding_dollars %></td>
					<td><%= @results[gs.id]['avg_t'] %></td>
					<td><%= @results[gs.id]['avg_c'] %></td>
					<td><%= @results[gs.id]['avg_f'] %></td>
					<td><%= @results[gs.id]['avg_s'] %></td>
					<td><%= @results[gs.id]['num_total'].fdiv(3.0).round(2).to_s %></td>
				</tr>
			<% end %>

		</table>
		<br>
		<img src="/uploads/emot-siren.gif"> <%= link_to "REVEAL IDENTITIES", :controller => "admins", :action => "reveal" %> <img src="/uploads/emot-siren.gif">



<% else %>

		<%= form_tag(controller: 'sessions', action:'create_admin') do %>
		<h2>Sign in:</h2>
		<fieldset>
		  <%= text_field :session, :email, :placeholder => "Email Address" %>
			<br />
		  <%= password_field :session, :password, :placeholder => "Password" %>
			<br />
		  <%= submit_tag("Sign In", class: "button") %>
		</formset>
		<% end %>

<% end %>



</div>
