<div class="container">
    <h1>Firefly Art Grants: 2015</h1>

    Are you an <%= link_to "artist", :controller => "artists", :action => "index" %>?
    <br/><br/>
    Are you a member of the <%= link_to "voting committee", :controller => "voters", :action => "index" %>?
    <br/><br/>
    Are you an <%= link_to "administrator", :controller => "admins", :action => "index" %>?

    <% if false %>

        <hr/>

        <% if artist_logged_in? %>
            artist is logged in: <%= current_artist.name %> (<%= current_artist.email %>)
        <% else %>
            artist is NOT logged in
        <% end %>

        <br/> <br/>

        <% if voter_logged_in? %>
            voter is logged in: <%= current_voter.name %> (<%= current_voter.email %>)
        <% else %>
            voter is NOT logged in
        <% end %>

        <br/> <br/>

        <% if admin_logged_in? %>
            admin is logged in: <%= current_admin.name %> (<%= current_admin.email %>)
        <% else %>
            admin is NOT logged in
        <% end %>

    <% end %>
</div>