<h1>Voters</h1>

<% if voter_logged_in? %>
    voter is logged in: <%= current_voter.name %> (<%= current_voter.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_voter" %>]
<% else %>

Register as a judge: <%= link_to "Click Here", :controller => "voters", :action => "signup" %>
<br /><br />
<%= form_tag(controller: 'sessions', action:'create_voter') do %>
Sign in: 
  <%= text_field :session, :email, :placeholder => "Email Address" %>
  <%= password_field :session, :password, :placeholder => "Password" %>
  <%= submit_tag("Sign in", class: "btn btn-large btn-primary") %>
<% end %>

<% end %>