<h1>Voters</h1>

<% if voter_logged_in? %>
    You are logged in as: <%= current_voter.name %> (<%= current_voter.email %>) [<%= link_to "Log Out", :controller => "sessions", :action => "delete_voter" %>]
    <br /><br />
    The voting process has not yet begun!
    <br /><br />
    Nothing to do here until then.
<% else %>

    <%= link_to "Register", :controller => "voters", :action => "signup" %> as a voting member of the judging committee.

<br /><br />
<%= form_tag(controller: 'sessions', action:'create_voter') do %>
Sign in: 
  <%= text_field :session, :email, :placeholder => "Email Address" %>
  <%= password_field :session, :password, :placeholder => "Password" %>
  <%= submit_tag("Sign in", class: "btn btn-large btn-primary") %>
<% end %>

<% end %>