<div class="container">
  <h1><%= link_to "Firefly Art Grants", :controller => "home", :action => "index" %>: Submit a Grant Proposal</h1>

  <% if artist_logged_in? %>

  <%= semantic_form_for @grant_submission, :html => { :onsubmit => 'return validate();'} do |f| %>

        <fieldset>
        <%= f.input :name, :label => "Name of Piece", :required => true, :validate => true %>

            <li class="string input required stringish" id="grant_submission_name_input"><label class="label" for="grant_submission_proposal">Application PDF<abbr title="required">*</abbr></label>

                <%= f.file_field :proposal, :required => true, :validate => true, :style => "margin-left:-5px" %>
            </li>
            <br /><br />
            <%= submit_tag("Submit Application", class: "button")%></fieldset>

  <% end %>

  <% else %>
  You must be logged in as an artist to submit a grant proposal. (<%= link_to "Log In", :controller => "artists", :action => "index" %>)
  <% end %>


  <script>

  function validate() {

    errors = 0;

    judge.validate(document.getElementById('grant_submission_name'), {
      valid: function(element) {
        element.style.border = '1px solid green';
      },
      invalid: function(element, messages) {
        element.style.border = '1px solid red';
        alert('name error: ' + messages.join(','));
        errors++;
      }
    });

    if(document.getElementById("grant_submission_proposal").value != "") {
      document.getElementById("grant_submission_proposal").style.border = '1px solid green';
    } else {
      errors++;
      alert('error: please select your application PDF!')
      document.getElementById("grant_submission_proposal").style.border = '1px solid red';
    }

    return errors===0;
  }

  </script>
</div>